STRATUM_DATA_DIR=<Enter your data directory>
STRATUM_TABLE_DIR=<Enter your table directory or leave empty if you don't want metadata logs>
STRATUM_PORT=<Enter your port>
STRATUM_LOG_LEVEL=<Enter your logging level or leave empty for basic log level>
STRATUM_METADATA_ENABLED=<Enter True if you want metadata logging, else False>